<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "A R T W O R K" %></title>
    
    <%= stylesheet_link_tag "http://basehold.it/24/cccccc", "all" %>    
    <%= javascript_include_tag  "all" %>
    <%= favicon_tag 'favicon.png' %>
  </head>
  
  <body class="<%= page_classes %>">
    <div data-grid-container>
      <div data-grid-row>
        <header id="main-header" class="grid-pad">
          
          <%= link_to image_tag("favicon.png", alt: "ARTWORK :: SASS Framework For Rapid UI Prototyping"), '/', id: 'logo'  %>
          
          <nav id="main-nav">
            <ul class="inline">
              <li><%= link_to 'Home', '/index.html' %></li>
              <li><%= link_to 'Components', '/components/index.html' %></li>
            </ul>
          </nav>
          
        </header>
        
      </div>
      
      <section id="main" data-grid-row>
        
        <%= partial 'layouts/sidebar' %>
        
        <div id="content" data-grid-column="12">
          <%= yield %>
        </div>
      </section>
      
      
    </div>
  </body>
</html>